.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 3rem;
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%; */
    background: linear-gradient(to bottom right, #c37ca3, #666698);
}
.contact-heading{
    margin: 3rem;
    color: white;
    font-size: 30px;
}

.form-container {
    width: 50%;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
  }
  .form-input::placeholder {
    color: #ffffff; /* Specify the desired color */
  }
  .form-input:focus {
    outline: none;
  }
  textarea.form-input {
    resize: vertical;
  }
  
  .form-button {
    margin: 16px;
    background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
  }
  
  .form-button:hover {
    border-color: rgb(204, 200, 200);
    color: rgb(99, 96, 96);
  }
  .contactIcons {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .reachMsg{
    font-weight: 100;
  } .linksMessage{
    font-weight: 100;
  }

.links .navbar-item {
  margin: 0.5rem;
}
.links .navbar-item {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .links .navbar-item i {
    font-size: 24px; /* Adjust the icon size as needed */
  }

/* Media queries for responsive spacing */
@media (max-width: 767px) {
  .links .navbar-item {
    margin: 0.25rem;
  }
}

@media (min-width: 768px) {
  .links .navbar-item {
    margin: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .links .navbar-item {
    margin: 1rem;
  }
}
  