.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(to bottom right, #c37ca3, #666698);
  }
  
  .buttonResume {
    margin: 16px;
    background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
  }

  .buttonResume:hover {
    border-color: rgb(204, 200, 200);
    color: rgb(99, 96, 96);
  }
  
  .descriptionContent {
    text-align: center;
  }

  .downloadButton{
    margin-left: 4px;
    vertical-align: middle;
  }
  