.experienceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    width:100%;
  }
  .experience-heading {
    margin: 3rem;
    color: white;
    font-size: 30px;
  }

  .main{
    width: 100%;
    height: auto;
    background-color: transparent;
    font-family: poppins;
    padding: 50px 0;
    display: grid;
    place-items: center;
}
.main{
    font-size: 27px;
    font-weight: 500;
    color: rgb(106, 6, 236);
    position: relative;
}
/* Timeline Css Start  */

.Timeline{
    width: 90%;
    height: auto;
    position: relative;
}
.Timeline ul::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom right, #c37ca3, #666698);
}
.Timeline ul{
    list-style: none;
}
.Timeline ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: #625b5b;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.192);
    position: relative;
    z-index: 99;
}
.Timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
}
.Timeline ul li:nth-child(odd) .date{
    right: 20px;
}
.Timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}
.Timeline ul li:nth-child(4){
    margin-bottom: 0;
}
.Timeline ul li .title{
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
}
ul li p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    margin: 7px 0;
    line-height: 23px;
}
ul li a{
    font-size: 15px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
ul li .date{
    position: absolute;
    top: -45px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    font-weight: 300;
    color: #000000;
    background-image: linear-gradient(to bottom right, #c37ca3, #666698);
    display: grid;
    place-items: center;
    font-size: 14px;
}
.Timeline ul li .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(189, 91, 198, 0.401);
    position: absolute;
    top: 0;
}
.Timeline ul li .circle::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(116, 68, 180);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Timeline ul li:nth-child(odd) .circle{
    right: -30px;
    transform: translate(50%, -50%);
}
.Timeline ul li:nth-child(even) .circle{
    left: -30px;
    transform: translate(-50%, -50%);
}

/*  Media Query Started  */

@media screen and (max-width:1224px){
    .Timeline{
        width: 85%;
    }
}

@media screen and (max-width:993px){
    .Timeline{
        width: 80%;
        transform: translateX(15px);
    }
    .Timeline ul::after{
        left: -30px;
    }
    .Timeline ul li{
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .Timeline ul li:nth-child(odd){
        text-align: left;
        transform: translateX(0);
    }
    .Timeline ul li:nth-child(odd) .date{
        left: 20px;
    }
    .Timeline ul li:nth-child(odd) .circle{
        left: -30px;
        transform: translate(-50%, -50%);
    }
    .Timeline ul li:nth-child(even){
        transform: translateX(0);
    }
}

  