.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    /* padding: 0 20px; Adjust the padding as needed */
    padding-left: 15%;
    background-color: transparent; /* Optional: Add background color if desired */
    /* filter: brightness(0.5) blur(5px); */
    z-index: 1;
    
  }
  
  .portfolio-title {
    font-size: 24px;
    color: white; 
    z-index: 1;
    
  }
  
  .portfolio-subtitle {
    font-size: 48px;
    color: white;
    z-index: 1;
    
  }
  