.mainScreenSection {
    height: 100vh;
    background-image: url('/sjsu_5.jpg');
    background-size: cover; /* Adjust the image size to cover the background */
    background-position: center; /* Center the image within the background */
    /* Add any other desired styles for the background */
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
  }
  