.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    flex-wrap: wrap;
  }
  .projects-heading {
    margin: 3rem;
    color: white;
    font-size: 30px;
  }
  
.project-component {
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 10px;
    background-color: #625b5b;
    transition: box-shadow 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(201, 197, 206, 0.478);
    margin-bottom: 20px;
    margin-left: 20px; 
    margin-right: 20px;
  }
  
  .project-component:hover {
    box-shadow: 0 0 25px rgba(201, 197, 206, 0.699);
  }
  
  .project-image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .project-name {
    font-weight: 500;
    margin: 10px;
    color: white;
  }
  